<!-- templates/pdf_template.html -->

<!DOCTYPE html>

<html lang="ru"> <!-- Язык сайта - русский -->
  <head>
    <meta charset="utf-8"> <!-- Кодировка сайта -->
    <title>Продуктовый помощник</title>
    <style>
      h2 {
        display: inline-block;
        margin-left: 8px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="col-md-2" style="display: inline-flex;">
        <img width="48px" height="48px" src='favicon.png' alt='Logo'>
        <h2>Продуктовый помощник</h2>
      </div>
    </header>
    <main>
      <h4>Список покупок</h4>

        <p>first paragraph</p>

        <p>second paragraph</p>

        <p>third paragraph</p>

    </main>
    <footer>

    </footer>
  </body>
</html>
